@font-face {
    src: url("../Fonts/OpenSans-Light.ttf");
    font-family: "OpenLight";
}

* {
    margin: 0;
    padding: 0;
    font-family: OpenLight;
}

a {
    text-decoration: none;
    color: black;
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

a:hover {
    color: #1b6bf5;
    -webkit-transition: color 100ms linear;
    -ms-transition: color 100ms linear;
    transition: color 100ms linear;
}

#tutorial {
    text-align: center;
    margin-bottom: 2%;
}

#tutorial a {
    font-size: 20px;
}

#link-input {
    text-align: center;
    margin: 5% 10%;
    margin-bottom: 2%;
}

#link-input select {
    outline: none;
    padding: 14px 18px;
    font-size: 18px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    height: 60px;
}


#link-input input {
    padding: 14px 18px;
    outline: none;
    font-size: 18px;
    background-color: white;
    border: 1px solid darkgray;
    border-radius: 10px;
    -webkit-transition: border 100ms linear;
    -ms-transition: border 100ms linear;
    transition: border 100ms linear;
}

#link-input input[type=text] {
    width: 50%;
}

#link-input input:hover {
    border: 1px solid #1b6bf5;
    -webkit-transition: border 100ms linear;
    -ms-transition: border 100ms linear;
    transition: border 100ms linear;
}

#link-input input[type=button]:hover {
    cursor: pointer;
}

#result {
    text-align: center;
    margin: 0% 10%;
}

#results-table {
    width: 100%;
}

#results-table td {
    padding: 1% 2.5%;
}

#results-table td:nth-child(1) {
    text-align: left;
}

#results-table td:nth-child(2) {
    text-align: right;
}

.vid-description {
    margin: 0% 2%;
    font-weight: lighter;
}

.vid-description a{
    font-size: 26px;
}

.vid-description h2 {
    color: #1b6bf5;
}
